body{
    background-color:lightblue ;
}
.col-sm-3{
    float: right;
    margin-right: 15px;
    border:solid black;
    background-color: coral;
    border-radius: 20px;
    border-collapse: collapse;
    

}
.col-sm-4{
    margin-right: 5px;
    border:solid black;
    background-color: coral;
    border-radius: 20px;
    border-collapse: collapse;
    

}
.carousel-item{
    width: 600;
    height: 500px;
    
}
#c2{
    background-color: rgb(25, 94, 113);
}
#c1{
    /* margin-right: 200px; */
    margin-left: 100px;

}